.authorization_window{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: var(--authorizationWindowBg);
  transition: .7s;
}

.authorization_window_passive{
  visibility: hidden !important;
  opacity: 0 !important;
  animation: anim_window_passive .7s;
}

@keyframes anim_window_passive {
  0%{
    margin-left: 0px;
  }
  100%{
    margin-left: -100%;
  }
}

.authorization_overlay{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--authorizationBg);
  animation: anim_overlay .7s;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
}

.authorization_login{
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  color: var(--authorizationLoginColor);
  background-color: var(--authorizationBtnBg);
  transition: .2s;
  padding: 10px;
    &:hover img{
      box-shadow: var(--authorizationBtnShadow);
    }
    img{
      border-radius: 50px;
      width: 60px;
      transition: .5s;
      padding: 10px;
    }
    p{
      font-size: 18px;
    }
}

@keyframes anim_overlay {
  0%{
    margin-left: -100%;
  }
  100%{
    margin-left: 0;
  }
}