.authorization_window {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.authorization_overlay {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--authorizationBg);
  -webkit-animation: anim_overlay 0.7s;
          animation: anim_overlay 0.7s;
}
@media screen and (max-width: 768px) {
  .authorization_overlay {
    width: 100%;
  }
}

.authorization_login {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px;
}
.authorization_login:hover {
  border: 1px solid grey;
}
.authorization_login img {
  width: 40px;
}
.authorization_login p {
  font-size: 18px;
  color: var(--authorizationLoginColor);
}

@-webkit-keyframes anim_overlay {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes anim_overlay {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}