.note_items_container{
  height: calc(100vh - 320px);
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 25px;
  margin-bottom: 25px;
    @media screen and (max-width: 768px) {
      height: calc(100vh - 285px);
    }
    @media screen and (max-width: 768px) {
      height: calc(100vh - 275px);
    }
}

.note_item{
  cursor: pointer;
  width: 100%;
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--createNotesDopColor);
  padding-left: 26px;
  padding-right: 26px;
  transition: .25s;
    @media screen and (max-width: 768px) {
      min-height: 70px;
      padding-left: 15px;
    }
    &:hover{
      background-color: rgba(115,75,109,.8);
        @media (hover: none) and (pointer: coarse) {
          background-color: var(--createNotesDopColor);
        }
    }
}

.note_item_anim{
  animation: itemInim1 .4s;
    @media screen and (max-width: 768px) {
      animation: itemInim2 .4s;
    }
}


@keyframes itemInim1 {
  0%{
    opacity: 0;
    margin-top: -84px;
  }
  100%{
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes itemInim2 {
  0%{
    opacity: 0;
    margin-top: -70px;
  }
  100%{
    opacity: 1;
    margin-top: 0px;
  }
}

.note_box{
  display: flex;
  align-items: center;
  grid-gap: 22px;
}

// ---------------------------------------------

.btn_item {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.btn_item+label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: 1s;
}

/* создание в label псевдоэлемента before со следующими стилями */
.btn_item+label::before {
  content: '';
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: var(--btnItemBg);
  transition: .4s;
}

/* стили при наведении курсора на checkbox */
.btn_item:not(:disabled):not(:checked)+label:hover::before {
}

/* стили для активного чекбокса (при нажатии на него) */
.btn_item:not(:disabled):active+label::before {
}

/* стили для чекбокса, находящегося в фокусе */
.btn_item:focus+label::before {
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.btn_item:focus:not(:checked)+label::before {
}

/* стили для чекбокса, находящегося в состоянии checked */
.btn_item:checked+label::before {
  background: linear-gradient(180deg, #42275A, #734B6D);
  background-image: url("../../../../public/images/check.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: btn_item .3s;
}

@keyframes btn_item {
  0%{
    transform: scale(0);
    // margin-top: -40px;
  }
  // 50%{
  //   transform: scale(1.2);
  // }
  100%{
    transform: scale(1);
    // margin-top: 0px;
  }
}

// ---------------------------------------------

.name_item{
  width: calc(100vw - 160px);
  word-wrap: break-word;
  color: var(--nameItemColor);
  font-size: 18px;
  font-weight: normal;
  transition: .3s;
    @media screen and (max-width: 768px) {
      width: calc(100vw - 120px);
    }
}

.name_item_active{
  text-decoration: line-through solid 2px;
  opacity: .7;
}