.header {
  width: 100%;
  background: var(--headerBg);
}

.header_container {
  max-width: 2000px;
  min-height: var(--heightHeaderContainer);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 16px;
}
.logo hr {
  width: 1px;
  height: 20px;
  background-color: var(--headerColor);
}

.btn_darkside {
  cursor: pointer;
}

.title_logo {
  color: var(--headerColor);
  font-size: 18px;
  font-weight: normal;
}

.search {
  border-radius: 1px solid;
  border-radius: 10px;
  width: 317px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: var(--headerColor);
}
@media screen and (max-width: 768px) {
  .search {
    width: auto;
    min-width: 1px;
    margin: auto;
    margin-left: 16px;
  }
}
.search .search_icon {
  cursor: pointer;
  padding-left: 11px;
  padding-right: 11px;
}
.search .search_input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-right: 11px;
}
@media screen and (max-width: 768px) {
  .search .search_input {
    display: none;
  }
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 18px;
}

.settings_icon {
  cursor: pointer;
}

.authorization {
  border-radius: 10px;
  cursor: pointer;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: var(--headerSettingsLoginColor);
  background-color: var(--headerColor);
  padding-left: 21px;
  padding-right: 21px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
@media screen and (max-width: 600px) {
  .authorization {
    display: none;
  }
}
.authorization:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #42275A;
}
.authorization .setting_logout {
  font-size: 14px;
}

.settings_entrance {
  width: 20px;
}

.settings_login {
  color: var(--headerSettingsLoginColor);
  font-size: 14px;
  font-weight: 500;
}