.body{}

.notes{
  max-width: 2000px;
  height: calc(100vh - var(--height));
  overflow: hidden;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
    @media screen and (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;    
    }
}

.notes_settings{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }
}

// Найстройка сайдбар
.sidebar_option{
  display: flex;
  align-items: center;
  grid-gap: 16px;
    img{
      cursor: pointer;
    }
}

.notes_heading{
  color: var(--notesHeadingColor);
  font-size: 18px;
  font-weight: normal;
}

.btn_dop_option{
  display: none;
}
// ------------------Найстройка сайдбар

// Сортировка
.notes_sort{
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.notes_sort_heading{
  color: var(--notesHeadingColor);
  font-size: 18px;
    @media screen and (max-width: 768px) {
      display: none;
    }
}
// ------------------Сортировка

.create_notes{
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  background-color: var(--createNotesBg);
  transition: .3s;
  padding-right: 27px;
  margin-top: 57px;
    @media screen and (max-width: 768px) {
      padding-left: 27px;
      padding-right: 0px;
      margin-top: 25px;
    }
    @media screen and (max-width: 425px) {
      height: 70px;
      padding-left: 15px;
      padding-right: 0px;
    }
}

.btn_create_box{
  cursor: pointer;
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  transition: .2s;
    @media screen and (max-width: 768px) {
      order: 2;
    }
    &:active{
      background-color: var(--createNotesActiveDopColor);
    }
}


.text_create{
  border-bottom: 3px solid var(--createNotesDopColor);
  width: 316px;
  height: 43px;
  color: var(--notesInputColor);
  font-size: 18px;
  padding-left: 11px;
  padding-right: 11px;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
}